<a href="https://colab.research.google.com/github/ArulananthamAnujan/Coswara-Data/blob/master/Bike_Learning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df=pd.read_csv("hour.csv")
df

       instant      dteday  season  yr  ...  windspeed  casual  registered  cnt
0            1  2011-01-01       1   0  ...     0.0000       3          13   16
1            2  2011-01-01       1   0  ...     0.0000       8          32   40
2            3  2011-01-01       1   0  ...     0.0000       5          27   32
3            4  2011-01-01       1   0  ...     0.0000       3          10   13
4            5  2011-01-01       1   0  ...     0.0000       0           1    1
...        ...         ...     ...  ..  ...        ...     ...         ...  ...
17374    17375  2012-12-31       1   1  ...     0.1642      11         108  119
17375    17376  2012-12-31       1   1  ...     0.1642       8          81   89
17376    17377  2012-12-31       1   1  ...     0.1642       7          83   90
17377    17378  2012-12-31       1   1  ...     0.1343      13          48   61
17378    17379  2012-12-31       1   1  ...     0.1343      12          37   49

[17379 rows x 17 columns]

In [4]:
df.describe()

          instant        season  ...    registered           cnt
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      2.501640  ...    153.786869    189.463088
std     5017.0295      1.106918  ...    151.357286    181.387599
min        1.0000      1.000000  ...      0.000000      1.000000
25%     4345.5000      2.000000  ...     34.000000     40.000000
50%     8690.0000      3.000000  ...    115.000000    142.000000
75%    13034.5000      3.000000  ...    220.000000    281.000000
max    17379.0000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]